---
layout: compress
---

<!doctype html>
<html lang="{{ page.lang | default: site.locale | default: 'en' }}" class="no-js">
  <head>
    {% include head.html %}
    {% if page.noindex %}
      <meta name="robots" content="noindex, nofollow, noimageindex">
      <meta name="googlebot" content="noindex, nofollow, noimageindex">
    {% else %}
      <meta name="robots" content="index, follow, nosnippet, max-image-preview:standard, max-video-preview:0">
      <meta name="googlebot" content="index, follow, nosnippet, max-image-preview:standard, max-video-preview:0">
    {% endif %}
    <meta name="bingbot" content="noarchive">
    <meta name="applebot" content="nosnippet">
    <link rel="stylesheet" href="{{ '/assets/css/academicons.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/classic.css' | relative_url }}">
    <link rel="icon" type="image/svg+xml" href="{{ '/images/favicon.svg' | relative_url }}">
  </head>
  <body class="classic-site">
    {% include browser-upgrade.html %}
    <a class="classic-skip-link" href="#main">Skip to content</a>
    {% include classic/masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>{% include classic/footer.html %}</footer>
    </div>
    {% include classic/scripts.html %}
  </body>
</html>
